@{
    ViewBag.Title = "Home Page";
}
    <div class="container">
        <video id="bgVideo" autoplay loop muted>
            <source src="../Media/superHeroBackground.mp4" type="video/mp4">
        </video>
        <img id="superheroText" src="../Media/superheroText.png" alt="transparent superheros text">
    </div>
    <div>
        <img id="superheroText" src="../Media/superheroesText.png" alt="transparent superheros text">
        <ul id="homeNav" class="nav navbar-nav">
            <li>@Html.ActionLink("Create Hero", "Create", "Hero")</li>
            <li>@Html.ActionLink("Hero List", "Index", "Hero")</li>
        </ul>
    </div>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Superheroes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Create Hero", "Create", "Hero")</li>
                        <li>@Html.ActionLink("Hero List", "Index", "Hero")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@